:root{ 
    /* css 전용 변수 선언 */
    --groom-photo : url('../source/images/gallary-images/신랑독사진.jpg');
    --bride-photo : url('../source/images/gallary-images/신부독사진.jpg');
}

body{
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}
#wrap {
    width:100%;
}
.d-day-section{
    display:block;
    margin : 20px 20px 50px 20px;
}
.container {
    /* for Page Document all loading */
    opacity: 0;
    transition: opacity 1s ease;
    /* will display cause js */

    position:relative;
    margin: 0 auto;
    width: 100vw;
    max-width: 600px;
}
section{
    margin : 3vh 1vw;
    border-bottom: 3px #aaa;
}
.title {
    padding-bottom: 100px;
}

/* 청첩장의 표지 디자인 */
.title-img{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    position: relative;
    background: url("../source/images/gallary-images/메인.jpg");
    background-size : cover;
    background-position: 60% 30%;
    background-repeat: no-repeat;
    border-radius: 60% 45% 60% 35%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가로 입체감 */
}
.title-img::before{
    content:"";
    opacity: 0.2;
    background-color: #ffd3b3;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border-radius: 75% 35% 75% 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.title-img::after{
    content:"";
    opacity: 0.2;
    background-color: #ffc0d5;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border-radius: 30% 70% 30% 70%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.title-img .text-wrap{
    z-index:99;
    font-size: 14px;
    position : absolute;
    top: 60%;
    width: 100%;
    line-height: 3em;
    color: whitesmoke;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.title-img .text-wrap > h1{
    font-size: 2.5em;
}
.title-img .text-wrap > p{
    font-size: 1.5em;
}

h2{
    text-align: right;
    margin: 5vh 10vw 2vh 10vw;
    color: rgb(0, 0, 0);
    /* text-shadow: 3px 3px 3px rgb(255, 229, 209); */
    font-size: 2em;
    line-height: 2em;
}
h2>span{
    font-size: 14px;
}

/*연락처*/
.quick-menu-start ul,.quick-menu-start li p{
    display:flex;
    justify-content: space-around;
}
.quick-menu-start label{
    margin-top : 20px;
}

#groom-tel,#bride-tel,#grooms-mother-tel,#bride-father-tel,#bride-mother-tel{
    display: block;
    width: 100%;
    padding-right: 50px;
    line-height: 50px;
    height: 50px;
    color: #3b3b3b;
    background-image: url("../source/images/tel.png");
    background-size : contain;
    background-position: right;
    background-repeat: no-repeat;
}

p:has(#groom-tel),p:has(#bride-tel){
    width: 100%;
    margin-bottom: 30vh;
    position: relative;
}

p:has(#groom-tel)::after, p:has(#bride-tel)::after{
    position: absolute;
    top: 10vh;
    content: "";
    display: block;
    height: 20vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
p:has(#groom-tel)::after{
    background-image: var(--groom-photo);
}
p:has(#bride-tel)::after{
    background-image: var(--bride-photo);
}

.gallery-container {
    position: relative;    
}

.gallery-item {
    position: sticky;
    top: 0;
    padding-bottom: 10vw;

    /* scroll-timeline: none block;
    /* Firefox supports the older "vertical" syntax */
    /* scroll-timeline: none vertical; */

    view-timeline: --subjectReveal block;
}

.gallery-img {
    animation-name: fadeIn;
    animation-duration: auto; /* Firefox requires this to apply the animation */
    animation-timeline: --subjectReveal;

    border-radius: 10px; /* 모서리를 둥글게 처리 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가로 입체감 */
}

.greetings{
    opacity: 0;
    transition: ease-in-out 1s;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* loading Spinner */

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    opacity: 1; 
    /* 처음에는 보임 */
    transition: opacity 1s ease;
}

@keyframes spin {
    0% {
        transform:  translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform:  translate(-50%, -50%) rotate(360deg);
    }

}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

 /* laoding end */

/* account modal all start */
.accounts {
    display: flex;
    justify-content: space-around;
}
.modal-show-btn{
    width:45%;
}
.btn{
    height: 30px;
    line-height: 30px;
    padding : 10px 0;
    cursor: pointer;
    display : inline-block;
    text-align:center;
    vertical-align: middle;
    background-color: #ddd3d8;
    color: white;
    text-shadow: 2px 3px 4px rgba(0,0,0, 0.7);
    border-radius: 5px;   
}
.board-end{
    text-align: center;
}
.board-end .btn{
    width:100%;
}
.modal {
    /* 스타일 - customize */
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  
    /* 트랜지션 효과 */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  
    /* 화면 전체를 덮게하는 코드 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    /* 중앙에 오게하는 코드 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  
.modal-contents {
    /* 스타일 - customize */
    max-width: 90vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
    /* 트랜지션 효과 */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    transform: scale(0.8);
}
.modal-contents h1 {
    margin-bottom: 10px;
    display: block; 
}
.modal-contents h1 > span{
    font-size: larger;
}
.modal-contents h1 > strong {
    text-align: right;
}
.modal.show {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    pointer-events: auto;
}
  
.modal.show .modal-contents {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    transform: scale(1);
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover {
    color: black;
}

.modal-contents p {
    padding : 8px
}

.copy-btn {
    background-color: #4CAF50;
    color: white;
    padding : 2px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.copy-btn:hover {
    background-color: #45a049;
}

.copy-btn:active {
    background-color: #3e8e41;
}

.modal-li {
    padding-top : 10px;
    padding-bottom : 5px;
}

/* account modal all stop */



.celebrity-flower>a{
    display:block;
    width:100%;
    height : 10vh;
    line-height: 10vh;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.celebrity-flower>a::after{
    z-index: -1;
    filter: brightness(0.8); 
    /* filter 속성값 ... 예시 
                            filter: blur(5px);
                            filter: brightness(0.4);
                            filter: contrast(200%);
                            filter: drop-shadow(16px 16px 20px blue);
                            filter: grayscale(50%);
                            filter: hue-rotate(90deg);
                            filter: invert(75%);
                            filter: opacity(25%);
                            filter: saturate(30%);
                            filter: sepia(60%); */
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border-radius: 4px;
    content:"";
    background-image: url('../source/images/bg-flowers.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.board-start{
    height:20vh;
    border-radius: 10px;
    background: linear-gradient(
    to bottom,
    rgb(238, 238, 238) 80%,
    white
  );
}