body{
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
}
#wrap {
    width:100%;
}
.d-day-section{
    display:block;
    margin : 20px 20px 50px 20px;
}
.container {

    /* for Page Document all loading */
    opacity: 0;
    transition: opacity 1s ease;
    /* will display cause js */

    position:relative;
    margin: 0 auto;
    width: 100vw;
}

.title {
    padding-bottom: 100px;
}

.gallery-container {
    position: relative;
    
}

.gallery-item {
    position: sticky;
    top: 0;
    padding-bottom: 10vw;

    /* scroll-timeline: none block;
    /* Firefox supports the older "vertical" syntax */
    /* scroll-timeline: none vertical; */

    view-timeline: --subjectReveal block;
}

.gallery-img {
    animation-name: fadeIn;
    animation-duration: auto; /* Firefox requires this to apply the animation */
    animation-timeline: --subjectReveal;

    border-radius: 10px; /* 모서리를 둥글게 처리 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가로 입체감 */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* loading Spinner */

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    opacity: 1; 
    /* 처음에는 보임 */
    transition: opacity 1s ease;
}

@keyframes spin {
    0% {
        transform:  translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform:  translate(-50%, -50%) rotate(360deg);
    }

}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

 /* laoding end */

/* account modal all start */
.accounts {
    display: flex;
    justify-content: space-around;
}
.modal-show-btn{
    width:40%;
    height: 30px;
    padding : 10px;
    display : inline-block;
    text-align:center;
    vertical-align: middle;
}
.modal {
    /* 스타일 - customize */
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  
    /* 트랜지션 효과 */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  
    /* 화면 전체를 덮게하는 코드 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    /* 중앙에 오게하는 코드 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  
.modal-contents {
    /* 스타일 - customize */
    max-width: 90vw;
    max-height: 70vh;
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
    /* 트랜지션 효과 */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    transform: scale(0.8);
}
.modal-contents h1 {
    margin-bottom: 10px;
    display: block;
}
.modal-contents h1 > span{
    font-size: larger;
}
.modal-contents h1 > strong {
    text-align: right;
}
.modal.show {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    pointer-events: auto;
}
  
.modal.show .modal-contents {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    transform: scale(1);
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover {
    color: black;
}

.modal-contents p {
    padding : 8px
}

.copy-btn {
    background-color: #4CAF50;
    color: white;
    padding : 2px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.copy-btn:hover {
    background-color: #45a049;
}

.copy-btn:active {
    background-color: #3e8e41;
}

.modal-li {
    padding-top : 10px;
    padding-bottom : 5px;
}



/* account modal all stop */
